:root {
    --color-1: #00e2ee;
    --color-2: white;
    --color-3: grey;
    --fuente-tama単o-seccion: 1em;
    --fuente-tama単o-titulos: 2vw;
    --fuente-tama単o-cuerpo: 0.9em;
    --fuente-tama単o-cuerpo2: 1.2rem;
    --fuente-cuerpo: "roboto", sans-serif;
    --fuente-seccion: "Cal Sans", sans-serif;
    --font-weight-cuerpo: 300;
    --font-weight-titulos: 500; 
  }