footer {
    display: flex;
    justify-content: space-evenly;
    border: 10px solid #000;
    margin-top: 5rem;
    padding: 1.5rem;
    background-color: #000;
  }
 
  .contactoSoporte {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
  }

  .tituloFooter {
    color: var(--color-1);
    font-family: var(--fuente-seccion);
    font-weight: var(--font-weight-titulos);
    font-size: 2rem;
    align-items: start;
    margin-bottom: 20px;
    
  }
  p.datosContacto {
    color: var(--color-2);
    font-family: var(--fuente-cuerpo);
    font-weight: var(--font-weight-cuerpo);
    font-size: var(--fuente-tamaño-cuerpo);
  }
p.datosSoporte {
    color: var(--color-2);
    font-family: var(--fuente-cuerpo);
    font-weight: var(--font-weight-cuerpo);
    font-size: var(--fuente-tamaño-cuerpo);
  }

  p.datosSoporte > a {
    color: var(--color-2);
    font-weight: var(--font-weight-cuerpo);
    text-decoration: none;
  }