
@import url("../estilos/cosasroot.css");
@import url("../estilos/header.css");
@import url("../estilos/footer.css");


body { 
  background: linear-gradient(60deg, #010e1c, #122a3e);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

}


  .textoInicial {
    margin-top: 0.9rem;
    font-family: var(--fuente-cuerpo);
    font-weight: 400;
    font-style:normal;
    color: var(--color-2);
    
  }

div.separador {
    margin-left: 42%;
    margin-top: 20px;
    width: 100%;
  }

  h2.titulo {
    font-family: var(--fuente-seccion);
    font-weight: var(--font-weight-encabezados);
    font-size: var(--fuente-tamaño-titulos);
    color: var(--color-1);
    margin: 0;
    
  }

section.cardProductos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75vw;
    overflow: hidden;
    gap: 10px;
  }
div.wholeCard {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1em;
    margin-top: 10px;
    height: 310px;
    width: auto;
    overflow: hidden;
}

div.wholeCard:hover {
    transform: translateY(-10px);
    transition: 0.3s;
    cursor: pointer;
}
.imageCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7rem;
    width: 10vw;
    height: 10vw;
    background-color: #fff;
    border-radius: 4px;
    object-fit: cover;
}

div.cardInfo {
    overflow: hidden;
    transform: translateY(0px);

}

div.wholeCard div.cardInfo {
  transition: 1s;
}

h3.nombreProducto {
    font-family: var(--fuente-cuerpo);
    font-weight: var(--font-weight-cuerpo);
    font-size: var(--fuente-tamaño-cuerpo);
    color: var(--color-2);
    width: 10vw;
    margin-bottom: 0.3rem;
  }

h3.precioProducto {
    font-family: var(--fuente-seccion);
    font-weight: var(--font-weight-titulos);
    font-size: 1.3vw;
    color: var(--color-2);
    width: 10vw;
    margin: 0;
  }

  #sidebarElementos {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    font-weight: --font-weight-filtros;
    color: var(--color-2);
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    border: 10px solid #000;
    margin-top: 5rem;
    padding: 1.5rem;
    background-color: #000;
  }
 
  .contactoSoporte {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
  }

  .tituloFooter {
    color: var(--color-1);
    font-family: var(--fuente-seccion);
    font-weight: var(--font-weight-titulos);
    font-size: 2rem;
    align-items: start;
    margin-bottom: 20px;
    
  }
  p.datosContacto {
    color: var(--color-2);
    font-family: var(--fuente-cuerpo);
    font-weight: var(--font-weight-cuerpo);
    font-size: var(--fuente-tamaño-cuerpo);
  }
p.datosSoporte {
    color: var(--color-2);
    font-family: var(--fuente-cuerpo);
    font-weight: var(--font-weight-cuerpo);
    font-size: var(--fuente-tamaño-cuerpo);
  }

  p.datosSoporte > a {
    color: var(--color-2);
    font-weight: var(--font-weight-cuerpo);
    text-decoration: none;
  }

  
 
 
  
  @media (max-width: 768px) {
    body {
      font-size: 60%;
    }
  }
  